Form container
.report-container {
  margin: 0;         
  padding: 0;       
}

.report-container h2 {
  margin-top: 50px;
}

.filter-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-form mat-form-field {
  width: 100%;
}

.filter-form button {
  margin-top: 0px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 0;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.filter-form button[color="primary"]:hover {
  background-color: #0056b3 !important;
  color: #fff !important;
}

.filter-form button[color="warn"]:hover {
  background-color: #b71c1c !important;
  color: #fff !important;
}

mat-error {
  font-size: 12px;
  color: #d32f2f;
}

.date-error {
  color: #d32f2f;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 500;
}

.table-container {
  width: 100%;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  min-width: 800px; 
}

.not-authorized {
  color: red;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}



@media (min-width: 600px) {
  .filter-form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-end;
  }

  .filter-form mat-form-field {
    flex: 1 1 calc(50% - 20px);
  }

  .filter-form button {
    flex: 1 1 calc(50% - 20px);
  }

  .date-error {
    flex-basis: 100%;
  }
}