* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f9;
}


.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 12px 30px;
  position: sticky;
  margin-top: -20px;
  z-index: 1000;
}

.navbar .logo {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar h1 {
  font-size: 16px;  
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background: #2563eb;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
}

.dropdown-btn:hover {
  background: #1d4ed8; 
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  background: #fff;
  min-width: 180px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 8px;
  padding: 6px 0;
  list-style: none;
  z-index: 2000;
  animation: fadeIn 0.2s ease-in-out;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  color: #374151;
  transition: background 0.2s;
}

.dropdown-menu li:hover {
  background: #f3f4f6;
}

/* Fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 30px;
  color: #374151;
  font-size: 15px;
}

.main-content p {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  max-width: 800px;
}
